.App {
  background-image: url("./clockB.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App h1{
  font-size: 100px;
  color: rgb(238, 200, 62);
}




